#identificacao {
	margin: auto;
	width: 60%;
	border: 3px solid #fff;
	padding: 10px;
	outline: black 3px solid;
}

#canvas {
	padding-left: 0;
	padding-right: 0;
	margin: auto;
	display: block;
}

div {
    text-align: center;
    padding-bottom: 20px;
}

div input {
    text-align: center;
    font-size: xx-large;
    border: 0;
    pointer-events: none;
}

.game-score {
	display: grid;
}

.score {
    font-size: xx-large;
}



